<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MYVA</title>
  <meta name="importmap-type" content="systemjs-importmap" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <% if (isProd) { %>
    <script type="systemjs-importmap" src="./importmap_prod.json"></script>
  <% } %>
  <% if (isLocal) { %>
  <script type="systemjs-importmap" src="./importmap_dev.json"></script>
  <script type="systemjs-importmap">
    {
      "imports": {
        "@myva-mf/myva-mf-root-config": "//localhost:9000/myva-mf-root-config.js"
      }
    }
  </script>
  <% } %>
  <script src="https://cdn.jsdelivr.net/npm/import-map-overrides/dist/import-map-overrides.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs/dist/system.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs/dist/extras/amd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs/dist/extras/named-exports.min.js"></script>
</head>
<body>
  <script>
    System.import('@myva-mf/myva-mf-root-config');
    System.import('@myva-mf/styleguide');
  </script>
  <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
</body>
</html>
